<div class="container">
  <img src="../../../assets/home-page-bg.jpg">
  <div class="centered-text">
    <div class="page-title">VISUALIZER</div>
    <div class="page-subtitle">VISUALIZE YOUR DATA EASILY</div>
  </div>
  <div class="page-desc">
    Visualizer - web system created to help researchers fast and easy visualize numerical data.
  </div>
</div>

<div class="get-started-btn">
  <button
    mat-raised-button
    color="primary"
    routerLink="/create-chart">
    GET STARTED
  </button>
</div>
