:host {
  button {
    margin: 20px 20px 0 0;
  }

  .radio-button-margin {
    margin-right: 10px;
    margin-top: 15px;
  }

  .chart-stepper-wrapper {
    padding: 25px;
    background: #ffffff;
  }

  .stepper-bg::ng-deep {
    font-family: 'Montserrat', sans-serif !important;
  }

  ::ng-deep {
    .mat-vertical-content {
      overflow-x: auto;
    }
  }
}
