<div class="chart-examples-wrapper">
  <mat-card class="chart-examples">
    <app-bar-chart
      [chartData]="barChartOption"
      [tooltipFormatter]="tooltipBarChartFormatter"
    ></app-bar-chart>
  </mat-card>
  <mat-card class="chart-examples">
    <app-scatter-chart
      [chartData]="scatterChartOption"
      [tooltipFormatter]="tooltipScatterChartFormatter"
    ></app-scatter-chart>
  </mat-card>
</div>
<div class="chart-examples-wrapper">
  <mat-card class="chart-examples">
    <app-pie-chart
      [chartData]="pieChartOption"
      [tooltipFormatter]="tooltipBarChartFormatter"
    ></app-pie-chart>
  </mat-card>
  <mat-card class="chart-examples">
    <app-line-chart
      [chartData]="lineChartOption"
      [tooltipFormatter]="tooltipLineChartFormatter"
    ></app-line-chart>
  </mat-card>
</div>
