<div class="chart-examples-bg">
  <div class="page-title">CHART EXAMPLES</div>
  <div class="chart-examples-wrapper">
    <mat-card class="chart-examples">
      <app-bar-chart
        [chartData]="barChartOption"
        [tooltipFormatter]="tooltipBarChartFormatter"
      ></app-bar-chart>
    </mat-card>
    <mat-card class="chart-examples">
      <app-bar-chart
        [chartData]="barChartStackedOption"
        [tooltipFormatter]="tooltipBarChartFormatter"
      ></app-bar-chart>
    </mat-card>
  </div>
  <div class="chart-examples-wrapper">
    <mat-card class="chart-examples">
      <app-pie-chart
        [chartData]="pieChartOption"
        [tooltipFormatter]="tooltipBarChartFormatter"
      ></app-pie-chart>
    </mat-card>
    <mat-card class="chart-examples">
      <app-pie-chart
        [chartData]="donutChartOption"
        [tooltipFormatter]="tooltipBarChartFormatter"
      ></app-pie-chart>
    </mat-card>
  </div>
  <div class="chart-examples-wrapper">
    <mat-card class="chart-examples">
      <app-line-chart
        [chartData]="lineChartOption"
        [tooltipFormatter]="tooltipLineChartFormatter"
      ></app-line-chart>
    </mat-card>
    <mat-card class="chart-examples">
      <app-line-chart
        [chartData]="lineChartStackedOption"
        [tooltipFormatter]="tooltipLineChartFormatter"
      ></app-line-chart>
    </mat-card>
  </div>
  <div class="chart-examples-wrapper">
    <mat-card class="chart-examples">
      <app-line-chart
        [chartData]="lineAreaChartOption"
        [tooltipFormatter]="tooltipLineChartFormatter"
      ></app-line-chart>
    </mat-card>
    <mat-card class="chart-examples">
      <app-scatter-chart
        [chartData]="scatterChartOption"
        [tooltipFormatter]="tooltipScatterChartFormatter"
      ></app-scatter-chart>
    </mat-card>
  </div>
</div>
