<ng-container>
  <mat-sidenav-container color="accent">
    <mat-sidenav
      #sidenav
      opened
      mode="side"
      class="app-sidenav"
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <mat-nav-list
        class="nav-list">
        <div class="icon-wrapper">
          <img src="../assets/bar-chart.svg">
          <span>
            VISUALIZER
          </span>
        </div>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/home">
          Home
        </a>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/create-account">
          Create Account
        </a>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/my-dashboard">
          My Dashboard
        </a>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/charts">
          Charts
        </a>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/create-chart">
          Create Chart
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="page-wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</ng-container>
