<ng-container>
  <mat-sidenav-container color="accent">
    <mat-toolbar class="app-header" color="primary">VISUALIZE</mat-toolbar>
    <mat-sidenav
      #sidenav
      opened
      mode="side"
      class="app-sidenav"
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <mat-nav-list>
        <a mat-list-item> Activities </a>
        <a mat-list-item> Create Account </a>
        <a mat-list-item
          routerLinkActive="sidenav-item-selected"
          routerLink="/charts">
          Charts
        </a>
        <a mat-list-item
          color="primary"
          routerLinkActive="sidenav-item-selected"
          routerLink="/create-chart">
          Create Chart
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>
</ng-container>
