:host {
  .app-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #eeeeee;
  }

  img {
    height: 35px;
    padding-right: 15px;
    padding-left: 20px;
  }

  .icon-wrapper {
    display: flex;
    padding: 5px 10px 20px 0;

    span {
      font-size: 20px;
      font-weight: 500;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .app-header {
    padding-left: 25px;
  }

  .sidenav-item-selected {
    color: #673ab7;
    background: rgba(103,58,183,.15);

    svg {
      fill: #673ab7;
    }
  }

  .page-wrapper {
    padding: 25px;
    background: #ffffff;
  }

  a {
    height: 100px;

    .sidenav-title {
      padding-top: 5px;
      font-size: 14px;
      font-weight: 600;
    }
  }

  ::ng-deep {
    .sidenav-title {
      font-family: 'Montserrat', sans-serif !important;
    }

    .mat-list-item-content {
      flex-direction: column !important;
      justify-content: center;
    }
  }
}

/* START: Global Styles */

::ng-deep {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    outline: 1px solid #aaaaaa;
  }

  .page-title {
    font-size: 30px;
    font-weight: 700;
    padding: 25px;
    overflow: hidden;
  }
}

/* END: Global Styles */
