<ng-container>
  <mat-toolbar class="example-header">VISUALIZE</mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="example-sidenav"
      [fixedInViewport]="false"
      [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <mat-nav-list>
        <a mat-list-item> Accounts </a>
        <a mat-list-item> Create Account </a>
        <a mat-list-item> Charts </a>
        <a mat-list-item> Create Chart </a>
        <a mat-list-item> Activities </a>
        <a mat-list-item> Create Activity </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">2020</mat-toolbar>
</ng-container>
