<div class="create-chart-bg">
  <div class="tabs-wrapper">
    <mat-tab-group mat-align-tabs="left">
      <mat-tab label="ENTER DATA MANUALLY"
        class="mat-tab-wrapper">
        <div class="mat-tab-wrapper">
          <app-create-chart-table></app-create-chart-table>
        </div>
      </mat-tab>

      <mat-tab label="UPLOAD EXEL FILE">
        <div class="mat-tab-wrapper">
          <p>Please upload file with data.</p>
          <input type="file"
            id="file"
            class="input-button"
            (change)="handleFileInput($event.target.files)">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
