<div class="table-container">
  <mat-card-content>
    <div>
      Rows:
      <mat-slider
        min="1"
        max="10"
        step="1"
        value="1"
        [(ngModel)]="rowSliderValue"
        (ngModelChange)="updateTableData()"
      ></mat-slider>
      {{ rowSliderValue || 1 }}
    </div>

    <div>
      Columns:
      <mat-slider
        min="1"
        max="10"
        step="1"
        value="1"
        [(ngModel)]="columnSliderValue"
        (ngModelChange)="updateTableData()"
      ></mat-slider>
      {{ columnSliderValue || 1 }}
    </div>
  </mat-card-content>
</div>

<br>

<!-- <div class="table-wrapper">
  <div class="column-headers-title">
    Column Headers
  </div>
  <div class="header-title-inputs">
    <mat-form-field *ngFor="let colHeader of displayedColumns"
      class="header-input">
      <input matInput
        value="{{colHeader?.header}}"
        (change)="changeHeader($event?.target?.value, colHeader)"
      >
    </mat-form-field>
  </div>
</div> -->

<div class="table-wrapper">
  <div class="row-headers-wrapper">
    Row Headers
    <mat-form-field *ngFor="let rowHeader of displayedRows">
      <input matInput
        value="{{rowHeader?.header}}"
        (change)="changeHeaderRow($event?.target?.value, rowHeader)"
      >
    </mat-form-field>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <ng-container *ngFor="let column of columns; let colIndex = index"
        [cdkColumnDef]="column.columnDef">

        <mat-cell *cdkCellDef="let row"
          class="form-input">
          <mat-form-field>
            <input matInput
              value="{{row[colIndex]?.value}}"
              (change)="changeRow($event?.target?.value, row[colIndex]?.id)"
            >
          </mat-form-field>
        </mat-cell>
      </ng-container>

    </mat-table>
  </div>
</div>

<br>

<button mat-raised-button
  color="primary"
  (click)=collectData()>
  Display Data
</button>
