:host {
  .table {
    width: 100%;
  }

  .form-input {
    margin: 0 5px;
  }

  ::ng-deep {
    mat-cell:last-of-type,
    mat-header-cell:last-of-type {
      margin-right: 25px !important;
    }
  }

  .table-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .row-headers-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .header-input {
    margin-right: 10px;
  }

  .column-headers-title {
    white-space: nowrap;
    padding-right: 120px;
  }

  .header-title-inputs {
    display: flex;
    flex-wrap: nowrap;
  }
}
